@font-face {
  font-family: "Pacifico";
  src: local("Pacifico"), url(./fonts/Pacifico-Regular.ttf) format("truetype");
}

body,
html {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: Pacifico;
}
* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #d99557 #da6800;
}
/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 20px;
}
*::-webkit-scrollbar-track {
  background: #da6800;
}
*::-webkit-scrollbar-thumb {
  background-color: #d99557;
  border-radius: 20px;
  border: solid #da6800;
}
a {
  color: inherit;
  text-decoration: inherit;
}
